###
### $Id: NAMESPACE
###


## Imported methods
import(doParallel)
import(foreach)
import(iterators)
import(parallel)
import(methods)
import(cobs)
import(grDevices)
import(utils)
importFrom("MASS", rlm)
importFrom("graphics", hist)
importFrom("graphics", image)
importFrom("graphics", plot)
importFrom("stats", coef, coefficients)
importFrom("stats", fitted)
importFrom("stats", loess)
importFrom("stats", resid, residuals)
importFrom("graphics", "abline", "axis", "box", "legend", "lines",
           "mtext", "par", "points", "rect", "text", "title")
importFrom("stats", "approx", "cor", "lm", "mad", "median",
           "medpolish", "nls", "nls.control", "predict", "pt",
           "quantile", "rnorm", "sd", "var")
importFrom("imager", "load.image", "imappend", "imresize", "imrotate", "add.color", "as.cimg", "save.image")
import(jpeg)
import(png)
import(tiff)
import(bmp)

		   
## Public classes
exportClasses(CobsFitClass)
exportClasses(Directory)                  # not intended for public consumption
exportClasses(DS5RPPAPreFitQC)
exportClasses(FitClass)
exportClasses(LoessFitClass)
exportClasses(LogisticFitClass)
exportClasses(RPPA)
exportClasses(RPPADesignParams)
exportClasses(RPPAFit)
exportClasses(RPPAFitParams)
exportClasses(RPPANormalizationParams)
exportClasses(RPPAPreFitQC)
exportClasses(RPPASet)
exportClasses(RPPASetSummary)
exportClasses(RPPASpatialParams)
exportClasses(RPPASPACESettings)

## S4 methods
exportMethods(coef, coefficients)
exportMethods(coerce)
exportMethods(dim)
exportMethods(fitted)
exportMethods(hist)
exportMethods(image)
exportMethods(normalize)
exportMethods(paramString)
exportMethods(plot)
exportMethods(qcprob)
exportMethods(resid, residuals)
exportMethods(summary)
exportMethods(write.summary)

## Public functions
export(Directory)
export(RPPA)
export(RPPADesignParams)
export(RPPAFit)
export(RPPAFitParams)
export(RPPAFitFromParams)
export(RPPANormalizationParams)
export(RPPAPreFitQC)
export(RPPASet)
export(RPPASetSummary)
export(RPPASpatialParams)
export(RPPASPACESettings)
export(fitCurveAndSummarizeFromSettings)
export(getConfidenceInterval)
export(is.Directory)
export(is.FitClass)
export(is.RPPA)
export(is.RPPADesignParams)
export(is.RPPAFit)
export(is.RPPAFitParams)
export(is.RPPANormalizationParams)
export(is.RPPAPreFitQC)
export(is.RPPASet)
export(is.RPPASpatialParams)
export(is.RPPASPACESettings)
export(seriesNames)
export(spatialAdjustment)
export(spatialAdjustmentFromParams)
export(spatialCorrection)

## Registration functions (generic)
export(getRegisteredMethod)
export(getRegisteredMethodKeys)
export(getRegisteredObject)
export(getRegisteredObjectKeys)
export(registerClassname)
export(registerMethod)

## Registration functions (specific)
export(getRegisteredModel)
export(getRegisteredModelKeys)
export(getRegisteredModelLabel)
export(registerModel)

export(getRegisteredNormalizationMethod)
export(getRegisteredNormalizationMethodKeys)
export(getRegisteredNormalizationMethodLabel)
export(registerNormalizationMethod)

